= form_with model: @meow, local: true do |meow_form|
  .form-group
    = meow_form.text_area :body, class: "form-control", id: "meow_text"
  = meow_form.hidden_field :cost
  = meow_form.submit "Meow!", class: "btn btn-primary"
